.cart-item-container {
	display: flex;
	justify-content: space-between;
	height: 90px;
	margin-bottom: 8px;

	.cart-item-image {
		width: 35%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
	.cart-items-details {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.cart-item-name {
			font-weight: bold;
		}
		// .cart-item-quantity-and-price-container {
		// 	.cart-item-quantity {
		// 	}
		// 	.cart-item-price {
		// 	}
		// }
		.increase-decrease-cartItem {
			cursor: pointer;
			font-weight: bolder;
			user-select: none;
			&:hover {
				color: rgb(186, 186, 186);
			}
		}
		.removeCartItem {
			color: red;
			cursor: pointer;
			user-select: none;
			&:hover {
				color: rgb(255, 117, 117);
			}
		}
	}
}
