.cart-dropdown-container {
	position: absolute;
	width: 340px;
	height: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	top: 55px;
	right: 6px;
	z-index: 5;

	.empty-message {
		font-size: 18px;
		margin: 50px auto;
	}

	.cart-items {
		height: 280px;
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}

	.btn {
		margin-top: auto;
	}
}
